div,span,p{
    width: 150px;
    height: 150px;
    margin: 5px;
    background: #aaa;
    border: #000 1px solid;
    float: left;
    font-size: 17px;
    font-family: Verdana;
}
div.mini{
    width: 61px;
    height: 60px;
    background-color: #aaa;
    font-size: 12px;
}
div.hide{
    display: none;
}
#mover{
    position: relative;
}


